<div class="container container-fluid">
    <div class="text-center">
        <a href="#" id="buttonShare">Share</a>
    </div>

    <hr/>

    <h4 class="mt-2">From Android</h4>
    <div id="text"></div>

    <hr/>

    <h4 class="mt-2">To Android</h4>
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="init text" id="toAppText" />
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="buttonToAppText">Button</button>
        </div>
    </div>

    <hr/>

    <a href="#" id="btnClear">clear</a>
    <div class="mt-4" id="console"></div>
</div>

<script>
(function () {
    var btnShare;

    document.getElementById('btnClear').addEventListener('click', function (e) {
        e.preventDefault();
        document.getElementById('console').innerHTML = '';
    })

    window.debug = function (text) {
        var t = document.createTextNode(text);
        var p = document.createElement('p');
        p.className += ' m-0 mt-1'
        p.style.fontSize = '.7rem';
        p.appendChild(t);
        document.getElementById('console').prepend(p);
    }

    document.getElementById('buttonToAppText').addEventListener('click', function (e) {
        var input = document.getElementById('toAppText');
        var text = input.value

        if (window.JSI && typeof window.JSI.showToast === 'function') {
            JSI.showToast(text);
            debug('sent text to Android app');
        } else if (window.webkit && window.webkit.messageHandlers && typeof window.webkit.messageHandlers.jsHandler) {
            window.webkit.messageHandlers.jsHandler.postMessage(text);
            debug('sent text to iOS app');
        } else {
            debug('failed to send to app');
        }
    })

    btnShare = document.getElementById('buttonShare');
    buttonShare.addEventListener('click', function (e) {
        e.preventDefault();

        debug('click: share button');
        LAEJS.dispatch.shareURL({
            title : "Sign up for L&E",
            text: "Your parent has asked you to sign up!",
            url: "https://www.learnandearn.com"
        });
        debug('after');
    });

})();
</script>