<div class="container container-fluid p-2">
    <div class="mt-2"><small>start of webview</div>
    <div class="text-center">
        <a href="#" id="buttonShare">Share</a>
    </div>

    <hr/>

    <h4 class="mt-2">From Native App</h4>
    <div id="fromNativeAppText"></div>

    <hr/>

    <h4 class="mt-2">To Native App</h4>
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="init text" id="toAppText" />
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="buttonToAppText">Button</button>
        </div>
    </div>

    <hr/>

    <div mt="">
        <button type="button" id="btnNativeBack" class="btn btn-primary">&lt; Back (native)</button>
    </div>

    <hr/>

    <a href="#" id="btnClear">clear</a>
    <div class="mt-4" id="console"></div>
</div>

<script>
(function () {
    window.debug = function (text) {
        var t = document.createTextNode(text);
        var p = document.createElement('p');
        p.className += ' m-0 mt-1'
        p.style.fontSize = '.7rem';
        p.appendChild(t);
        document.getElementById('console').prepend(p);
    }

    document.getElementById('btnClear').addEventListener('click', function (e) {
        e.preventDefault();
        document.getElementById('console').innerHTML = '';
    });

    document.getElementById('buttonToAppText').addEventListener('click', function (e) {
        var input = document.getElementById('toAppText');
        var message = input.value;
        var isDispatchedNative = LAEJS.dispatch('jsHandler', { message: message })
    })

    document.getElementById('buttonShare').addEventListener('click', function (e) {
        e.preventDefault();
        LAEJS.jsOnShare({
            text: "Your parent has asked you to sign up!",
            url: "https://www.learnandearn.com"
        });
    });

    document.getElementById('btnNativeBack').addEventListener('click', function () {
        LAEJS.jsOnBackPressed();
    })
})();
</script>